{{!-- views/login.hbs --}}
<div class="wrapper">
  <div class="title-text">
    <div class="title login">Login Form</div>
    <div class="title signup">Signup Form</div>
  </div>
  <div class="form-container">
    <div class="slide-controls">
      <input type="radio" name="slide" id="login" checked>
      <input type="radio" name="slide" id="signup">
      <label for="login" class="slide login">Login</label>
      <label for="signup" class="slide signup">Signup</label>
      <div class="slider-tab"></div>
    </div>
    <div class="form-inner">
      <form action="/auth/login" method="POST" class="login">
        {{#if loginError}}
          <p style="color: red; text-align: center;">{{loginError}}</p>
        {{/if}}
        {{#if loginSuccess}}
          <p style="color: green; text-align: center;">{{loginSuccess}}</p>
        {{/if}}
        <div class="field">
          <input type="email" name="email" placeholder="Email Address" required>
        </div>
        <div class="field">
          <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="pass-link"><a href="#">Forgot password?</a></div>
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" value="Login">
        </div>
        <div class="signup-link">Not a member? <a href="#">Signup now</a></div>
      </form>

      <form action="/auth/register" method="POST" class="signup">
        {{#if signupError}}
          <p style="color: red; text-align: center;">{{signupError}}</p>
        {{/if}}
        <div class="field">
          <input type="email" name="email" placeholder="Email Address" required>
        </div>
        <div class="field">
          <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="field">
          <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        </div>
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" value="Signup">
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const loginText = document.querySelector(".title-text .login");
  const loginForm = document.querySelector("form.login");
  const loginBtn = document.querySelector("label.login");
  const signupBtn = document.querySelector("label.signup");
  const signupLink = document.querySelector("form .signup-link a");

  signupBtn.onclick = () => {
    loginForm.parentElement.style.transform = "translateX(-50%)";
    loginText.style.marginLeft = "-50%";
  };

  loginBtn.onclick = () => {
    loginForm.parentElement.style.transform = "translateX(0%)";
    loginText.style.marginLeft = "0%";
  };

  signupLink.onclick = (e) => {
    e.preventDefault();
    signupBtn.click();
  };
</script>
